html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    /*letter-spacing: .2vw;
    font-size: 1.5vw;*/
}

body.fade-out {
    opacity: .1;
    transition: none;
}

.Navbar {
    overflow: hidden;
    background-color: rgb(10, 3, 48);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

.Navbar a {
    float: left;
    display: block;
    color: #b5cfff;
    padding: 14px 16px;
    /*padding: .75vw 1vw;*/
    text-decoration: none;
    font-family: fantasy, Avante Garde, Helvetica, 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    letter-spacing: .2vw;
    -webkit-animation: movnavText 5.75s;
    animation: movenavText 5.75s;
}

@keyframes movNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movnavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}


.Navbar a:hover {
    background-color: aquamarine;
    color: darkslategrey;
    font-weight: bolder;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.Navbar a.active {
    background-color: darkgray;
}

/*@keyframes zoominout*/

.Main {
    color: rgb(209, 209, 255);
}

#bg_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

.Video_Text {
    background: rgba(0,0,0,0.5);
    color: rgb(209, 209, 255);
    width: 100%;
    padding: 20px;
    margin-top: 25%;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
    /*animation: zoominout*/
}

#Slideshow_Background {
    background: rgba(255,255,255,.35);
}

.Slides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.SlideshowImages {
    vertical-align: middle;
    width: auto;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,0.75);
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: rgba(255,255,255,.35);
    font-weight: bolder;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: .6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color: rgb(9, 30, 94);
    color: white;
}

.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: fantasy, Avante Garde, Arial, Helvetica, sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: fantasy, Avante Garde, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: bolder;
    letter-spacing: .1vw;
    display: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border: 50%;
    display: inline-block;
    transition: background-color .6s ease;
    position: relative;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
    background-color: rgb(209, 209, 255);
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-transform: uppercase;
    font-family: fantasy, Optima;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    color: rgb(10, 3, 48);
}

p {
    font-family: Optima, Perpetua;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*.*/center {
    font-family: Optima, Perpetua;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

/*q {
    font-style: italic;
    font-weight: bold;
}
*/
img {
    filter: grayscale(50%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*p:hover {
    color: blue;
    transition: transform 1s;
    transform: scale(1.05);
}
*/

@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

.form-popup {
    border: 3px solid seashell;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}


.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 1vw; /*MAYBE CHANGE THIS*/
    /*border: 1px solid rgb(209, 209, 255);
    border-radius: 3px; /*MAYBE CHANGE THIS*/
/*    box-sizing: border-box;
    margin-top: 8px; /*MAYBE CHANGE THIS*/
/*    margin-bottom: 18px; /*MAYBE CHANGE THIS*/
/*    resize: vertical;*/
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
    font-family: Perpetua, Rockwell Exta Bold;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: red;
    color: white;
    border-color: gray;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bolder;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}

/*input[type=submit] {
    color: #b5cfff;
    background-color:  rgb(10, 3, 48);
    font-weight: ;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra;
}

input[type=submit]:hover {
    background-color: ;
    color: ;
    transform: scale(1.25);
    transition: transform 1s;
}

form {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(209, 209, 255);
    font-family: fantasy, Optima;
}

p:hover {
    transform: scale(1.01);
    transition: 1s;
}

h1:hover {
    font-weight: bold;
}

img:hover {
    filter: grayscale(0%);
    transition: transform 1s;
    transform: scale(1.1);
}
*/
footer {
    padding: 2%;
    background-color: rgb(209, 209, 255);
}